body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
  outline: none;
}

nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 200;
  .nav-logo {
    padding: 20px;
    font-size: 30px; 
  }

  .toggle-button {
    margin: 0 0 0 20px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: white 1px solid;
    border-radius: 5px;
    background: none;
    color: white;
    cursor: pointer;
    display: none;
  }

  .toggle-button:hover {
    background-color: rgb(37, 37, 37);
  }
  .nav-middle {
    width: 600px;
    font-size: 15px;

    ul {
      display: flex;
      justify-content: space-around;
    }
  }
  .nav-items {
    width: 300px;
    font-size: 10px;
    padding: 0 20px;
    ul {
      display: flex;
      justify-content: space-around;
      li,a {
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 30px;
        }
      }
      li {
        width: 50px;
        padding: 10px;
        border-radius: 5px;
      }
      
      li:hover {
        text-decoration: underline;
        background-color: rgb(48, 48, 48);
      }
    }  
  }


}

.side-menu {
  height: 100vh;
  background-color: rgb(46, 46, 46);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 10;
  color: white;
  transform: translateX(-100%);
  transition: ease 0.5s;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}

.side-menu.open{
  transform: translateX(0);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 9;
}

.slider {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(138, 228, 255, 0.637);
  color: white;
  overflow: hidden;

  .slider-content {
    height: 100%;
    display: flex;

    .slide {
      min-height: 100%;
      min-width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .slide-title {
        font-size: 150px;
      }
    }
  }

  .slider-btn {
    padding: 0;
    position: absolute;
    top:50%; 
    transform: translateY(-50%);
    height: 100%;
    width: 10%;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
  }
  .slider-btn:hover {
    color: white;
  }


  #left {
    left:0;
  }
  #right {
    right: 0;
  }

  .slider-dots {
    width: 30vw;
    height: 10vh;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(172, 172, 172, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin: 5px;
    }
  }

}


.product-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .product-tile {

    margin: 50px;
    width: 300px;
    height: 600px;
    overflow: hidden;
    .image-wrap {
      overflow: hidden;
    }
    .product-image {
      width: 300px;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s;
      overflow: hidden;
    }
    .product-image:hover {
      transform: scale(1.4);
      width: 300px;
    }
    .product-name {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 300;
    }
    .product-price {
      font-weight: 600;
    }
  }
}

.cart {
  width: 100%;
  min-height: 100vh;
  display: flex;
  .cart-main {
    background-color: rgb(255, 255, 209);
    width: 60%;
    .cart-items {
      margin: 20px;
      background-color: white;
      .cart-product {
        height: 200px;
        display: flex;
        background-color: white;
        margin: 30px 0;
        justify-content: space-between;
        .cp-image {
          height: 100%;
          width: 150px;
          background-position: center;
          background-size: cover;
        }
        button {
          background: none;
          border: none;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          position: relative;
          transition: 0.2s ease-out;
          p {
            display: none;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: -50px;
          }
        }
        button:hover {
          background-color: grey;
          color: white;
          p {
            display: block;
            color: black;
          }
        }
      }
    }
  }
  .cart-summary {
    background-color: rgb(201, 201, 201);
    width: 40%;
  }
}

footer {
  height: 50px;
  background-color: rgb(126, 126, 126);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width:1000px) {
  nav .toggle-button {
    display: inline;
  }
  .nav-middle {
    display: none;
  }
}