//color scheme
$light_grey: #f1f1f1;

button,body {
  font-family: 'Roboto', sans-serif;
}


input {
  border: none;
  background-color: none;
}

//contains general styles for elements
body {
  margin: 0;
  
  .app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 400;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .black-button {
    background: black;
    color: white;
    padding: 20px;
    width: 70%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px 0;
  }
  button:focus,input:focus {
    outline: none;
  }
  .value-selection {
    position: relative;
    text-transform: uppercase;
    button {
      background-color: white;
      border: $light_grey solid 1px;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      width: 100%;
      text-transform: uppercase;
      i {
        color: grey;
      }
    }
    .values-list {
      display: none;
      flex-direction: column;
      padding:0;
      position: absolute;
      top: 0;
      z-index: 200;
      background-color: white;
      width: 100%;
      border: $light_grey solid 1px;
      input {
        border-top: $light_grey solid 1px;
        padding: 20px 30px;
        cursor: pointer;
        background: none;
        text-align: left;
      }
      input:hover {
        background-color: $light_grey;
      }
      input:focus {
        border: none;
      }
    }
    .visible {
      display: flex;
    }

  }
}

nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: $light_grey solid 1px;
  z-index: 5;
  .nav-logo {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px; 
  }

  .toggle-button {
    margin: 0 0 0 20px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: black 1px solid;
    border-radius: 5px;
    background: none;
    color: black;
    cursor: pointer;
    display: none;
  }

  .toggle-button:hover {
    background-color: $light_grey;
  }
  .nav-middle {
    width: 600px;
    font-size: 15px;

    ul {
      display: flex;
      justify-content: space-around;
      li:hover {
        text-decoration: underline;
      }
    }
  }
  .nav-items {
    width: 300px;
    font-size: 10px;
    padding: 0 20px;
    ul {
      display: flex;
      justify-content: space-around;
      li,a {
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 30px;
        }
      }
      li {
        width: 50px;
        padding: 10px;
        border-radius: 5px;
      }
      
      li:hover {
        text-decoration: underline;
        background-color: rgb(230, 230, 230);
      }
    }  
  }


}

.side-menu {
  height: 100vh;
  background-color: rgb(46, 46, 46);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 10;
  color: white;
  transform: translateX(-100%);
  transition: ease 0.5s;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

}

.side-menu.open{
  transform: translateX(0);
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 9;
}

.slider {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(138, 228, 255, 0.637);
  color: white;
  overflow: hidden;

  .slider-content {
    height: 100%;
    display: flex;

    .slide {
      min-height: 100%;
      min-width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .slide-title {
        font-size: 150px;
      }
    }
  }

  .slider-btn {
    padding: 0;
    position: absolute;
    top:50%; 
    transform: translateY(-50%);
    height: 100%;
    width: 10%;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
  }
  .slider-btn:hover {
    color: white;
  }


  #left {
    left:0;
  }
  #right {
    right: 0;
  }

  .slider-dots {
    width: 30vw;
    height: 10vh;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(172, 172, 172, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin: 5px;
    }
  }

}


.product-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .product-tile {

    margin: 50px;
    width: 300px;
    height: 600px;
    overflow: hidden;
    .image-wrap {
      overflow: hidden;
    }
    .product-image {
      width: 300px;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s;
      overflow: hidden;
    }
    .product-image:hover {
      transform: scale(1.4);
      width: 300px;
    }
    .product-name {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 300;
    }
    .product-price {
      font-weight: 600;
    }
  }
}

.cart {
  width: 100%;
  min-height: 100vh;
  display: flex;
  h1 {
    margin: 40px;
  }
  .cart-main {
    width: 65%;
    .cart-items {
      margin: 20px;
      background-color: white;
      .cart-product {
        height: 200px;
        display: flex;
        background-color: white;
        margin: 30px 0;
        .cp-image {
          height: 100%;
          width: 200px;
          background-position: center;
          background-size: cover;
        }
        .cp-remove {
          background: none;
          border: none;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          position: relative;
          transition: 0.2s ease-out;
          p {
            display: none;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: -40px;
          }
        }
        button:hover {
          background-color: $light_grey;

          p {
            display: block;
            color: black;
          }
        }
        .cp-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          padding: 10px 20px;
          text-transform: capitalize;
          .cp-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .cp-bottom {
            display:flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .cart-summary {
    background-color: $light_grey;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    hr {
      background-color: rgb(218, 218, 218);
      height: 1px;
      width: 80%;
      max-width: 500px;
      border:none;
    }
    div {
      margin: 20px;
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      width: 80%;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 0.5px;
    }
    .cart-total {
      font-weight: bold;
    }
    button {
      max-width: 500px;
      width:100%;
    }

  }
}

.product-card {
  margin: 10px;
  min-height: 100vh;
  width: 90%;
  display: flex;
  .gallery-description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    .gallery {
      display: flex;
      align-items: center;
      height: 600px;
      ul{
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          height: 100px;
          width: 70px;
          margin-bottom: 5px;
          background-size: cover;
          background-position: center;
          
        }
      }
      
      .big-picture {
        width: 400px;
        height: 600px;
        background-position: center;
        background-size: cover;
      }
    }
    .product-description {
      margin: 50px;
    }
  }
  .product-card-info {
    margin: 50px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    position: sticky;
    top: 20%;
    height: 30%;
    button {
      width: 400px;
    }


  }
}
  
  footer {
    height: 50px;
    background-color: $light_grey;
    border-top: rgb(209, 209, 209) solid 1px;
    display: flex;
    align-items: center;
  justify-content: center;
  width: 100%;

}

@media screen and (max-width:1000px) {
  nav .toggle-button {
    display: inline;
  }
  .nav-middle {
    display: none;
  }
}